.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d9edfd;
}
.App h1,
.App header {
  color: #1177c9;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 37px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgb(255, 255, 255);
  border-radius: 7px;
}
.App header {
  border: 2px dotted #1177c9;
  width: 85%;
  margin: 0 auto;
  margin-top:20px;
  padding-left: 9px;
  padding-right: 9px;
}
.container {
  background: #d9edfd;
  padding-top: 35px;
  padding-bottom: 65px;
  max-width: 100%;
  border-radius: 1px;
}

.App .weather-app {
  background: rgb(255, 255, 255);
  margin-top: 15px;
  padding: 15px;
  margin: 20px auto;
  margin-bottom: 5px;
  border-radius: 7px;
  max-width: 630px;
  max-height: 425px;
}
.App .contact {
  text-align: center;
  margin: 0 auto;
  margin-top: -35px;
  background: white;
  max-width: 50%;
  padding: 5px 5px;
  border-radius: 7px;
  border: 1px dotted blue;
}
